<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/Basic.css" rel="stylesheet" />
    @RenderSection("css")
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/fetch.min.js"></script>
    <script src="/Scripts/figlet.js"></script>
    @RenderSection("js")
</head>
<body>
    @RenderBody()
    <script type="text/javascript">
        figlet.defaults({
            fontPath: '/fonts'
        });
        figlet("hearthstone", {
            font: "3D-ASCII",
            horizontalLayout: "full",
            verticalLayout: "full"
        }, function (err, text) {
            if (err) {
                console.log('something went wrong...');
                console.dir(err);
                return;
            }
            console.log(text);
            console.log("drawde@126.com     https://github.com/drawde/MyHearthStoneV2");
        });
    </script>
</body>
</html>
