@{
}
<script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="@(System.Configuration.ConfigurationManager.AppSettings["APIURL"]+"/signalr/hubs")" type="text/javascript"></script>
@(Html.Raw(MyHearthStoneV2.Common.Util.SignUtil.ImportSignJsFile("/js/signalR.basic.source.js", ViewBag.cssAndJSVersion)))
<link href="/css/OFF-CANVAS/menu_cornermorph.css" rel="stylesheet" />
<link href="/css/shake/shake.css" rel="stylesheet" />
<div class="menu-wrap">

    <nav class="menu">

        <div class="profile"><img src="/images/OFF-CANVAS/user1.png" alt="Matthew Greenberg"><span id="MyClientName"></span></div>

        <div class="link-list" id="messages">
        </div>

        <div class="icon-list">
            <input type="text" id="message" />
            <a href="javascript:;" id="send"><i class="fa fa-fw fa-send"></i></a>

            <a href="javascript:;"><i class="fa fa-fw fa-question-circle"></i></a>

            <a href="javascript:;"><i class="fa fa-fw fa-power-off"></i></a>

        </div>

    </nav>

</div>
<button class="menu-button shake shake-little" id="open-button" onclick="clearUnReadMessage()"><i class="fa fa-fw fa-weixin"></i><i class="unread"></i><span>Open Menu</span></button>

<script src="/js/OFF-CANVAS/classie.js"></script>
<script src="/js/OFF-CANVAS/main.js"></script>

