@using MyHearthStoneV2.Common.Enum
@using MyHearthStoneV2.BLL
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
}
@section css{
}
@section js{
}
<div class="main-container">
    <section class="hero-slider large-image">
        <ul class="slides">
            <li>
                <div class="background-image-holder overlay fadeIn" style="background: url(/img/background-data-microservice.jpg) 50% 50%;">
                    <img alt="Analytics Microservice" src="/img/background-data-microservice.jpg" class="background-image" />
                </div>
                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white"> Node.js HTTP Microservices <p class="text-white super-lead">Build, deploy and scale RESTful services for SQL Analytics &amp; Data Processing</p> <a href="/docs/getting-started-guide" class="btn btn-white">Learn More</a> <a href="https://app.eventn.com/signup" target="_blank" class="btn btn-filled">Get Started</a> </h1>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section class="feature-lists large-pad">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="feature-list text-center">
                        <i class="icon-large pe-7s-mouse"></i>
                        <h5>1-Click Microservice</h5>
                        <p>Deploy a secure, public facing HTTP microservice with database persistence with a single click.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-list text-center">
                        <i class="icon et-line-pricetags icon-large"></i>
                        <h5>Serverless With A Free Monthly Allocation</h5>
                        <p>No server or container provisioning or management, pay only for what you use. Enjoy a free monthly allocation of compute time.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature-list text-center">
                        <i class="et-line-speedometer icon-large"></i>
                        <h5>Capture Real-time Event Data</h5>
                        <p>Capture real-time event data from any source utilizing JSON over HTTP. Embed ETL logic directly into a microservice making integrations a breeze.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-7">
                    <div class="text-block">
                        <h2>Developer Tools</h2>
                        <p class="lead">The Event<sup>n</sup> user interface provides a JavaScript service editor and test environment for rapid microservice development.</p>
                        <a href="https://app.eventn.com/signup" target="_blank" class="btn">Launch New Service</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-right">
            <div class="background-image-holder">
                <img alt="Developer Tools" src="/img/developer-tools.jpg" class="background-image" />
            </div>
        </div>
    </section>
    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
                    <div class="text-block">
                        <h2>JavaScript (ES6) Service Logic</h2>
                        <p class="lead">Event <sup>n</sup> microservices execute in a secure and scalable sandboxed Node.js environment. This provides freedom to not only use all JavaScript features, but also <a target="_blank" href="https://nodejs.org/en/docs/es6/">ECMAScript 2015 (ES6)</a> features available in Node.js (v7.x) such as async/await. Additionally, Event <sup>n</sup> also supports a set of selected NPM modules.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-left">
            <div class="image-slider">
                <ul class="slides">
                    <li>
                        <div class="background-image-holder">
                            <img alt="Microservices for Analytics" src="/img/nodejs-logo.jpg" class="background-image" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-7">
                    <div class="text-block">
                        <h2>Microservices for Data Collection and ETL</h2>
                        <p class="lead">Launch microservices for real-time data collection at scale. Preform powerful data extractions and transformations on both structured and unstructured data, without the need for complex data pipelines.</p>
                        <a href="/docs/getting-started-guide" class="btn">Find Out How</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-right">
            <div class="background-image-holder">
                <img alt="Data Warehouse" src="/img/data-warehouse-etl.jpg" class="background-image" />
            </div>
        </div>
    </section>
    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
                    <div class="text-block">
                        <h2>Microservices for Analytics</h2>
                        <p class="lead">Using the power of SQL, rapidly respond to changing Business Intelligence needs across the business. Deploy RESTful analytical data services to power real-time dashboards, mobile apps and system integrations in minutes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-left">
            <div class="image-slider">
                <ul class="slides">
                    <li>
                        <div class="background-image-holder">
                            <img alt="Microservices for Analytics" src="/img/data-warehouse-analytics.jpg" class="background-image" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="image-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-7">
                    <div class="text-block">
                        <h2>Internet Of Things (IOT)</h2>
                        <p class="lead">Deploy microservices for IOT applications. Utilize serverless compute power across multiple geographies for seamless and secure interoperability.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-holder col-md-6 col-sm-4 pull-right">
            <div class="background-image-holder">
                <img alt="Internet Of Things (IOT)" src="/img/internet-of-things-iot.jpg" class="background-image" />
            </div>
        </div>
    </section>
    <section class="blog-snippets-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-block">
                        <div class="detail-line"></div>
                        <h5>News &amp; Views</h5>
                        <h4>Latest thoughts + musings from the team.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="blog-snippet-1">
                        <span class="date alt-font uppercase">August 5 2017 - [Blog]</span>
                        <h5>July Platform Updates: Node v8.2.1, Service Recipes and LDA Topic Modelling</h5>
                        <p>We have been busy over the last few weeks with platform and website improvements so wanted to share some of the highlights.</p>
                        <a href="/blog/july-platform-updates-node8-microsefvice-recipes-topic-modelling" class="text-link">Read the rest<i class="icon ti ti-arrow-right arrow_right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-snippet-1">
                        <span class="date alt-font uppercase">July 15 2017 - [Service Recipe]</span>
                        <h5>URL Topic Extraction</h5>
                        <p>Extract topics for a given URL using Latent Dirichlet Allocation (LDA).</p>
                        <a href="/recipes/url-content-topic-extraction-microservice" class="text-link">Read the rest<i class="icon ti ti-arrow-right arrow_right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-snippet-1">
                        <span class="date alt-font uppercase">July 02 2017 - [Service Recipe]</span>
                        <h5>Latent Dirichlet Allocation (LDA) Topic Modeling</h5>
                        <p>LDA is a machine learning algorithm that extracts topics and their related keywords from a collection of documents.</p>
                        <a href="/recipes/latent-dirichlet-allocation-topic-modeling-microservice" class="text-link">Read the rest<i class="icon ti ti-arrow-right arrow_right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-snippet-1">
                        <span class="date alt-font uppercase">June 17 2017 - [Service Recipe]</span>
                        <h5>Local Database Connectivity</h5>
                        <p>How to connect an Event<sup>n</sup> microservice to a locally hosted MySQL Database using ngrok TCP tunnels..</p>
                        <a href="/recipes/microservice-local-database-connection" class="text-link">Read the rest<i class="icon ti ti-arrow-right arrow_right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-snippet-1">
                        <span class="date alt-font uppercase">May 5 2017 - [Blog]</span>
                        <h5>Storing API Test Results to a Database with Runscope and Event</h5>
                        <p>Integrating Runscope with Event<sup>n</sup> microservices to store API test results to a database.</p>
                        <a href="/blog/storing-api-test-results-database-eventn-runscope" class="text-link">Read the rest<i class="icon ti ti-arrow-right arrow_right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-snippet-1">
                        <span class="date alt-font uppercase">April 2 2017 - [Blog]</span>
                        <h5>Introducing Store Adapters for external database connectivity</h5>
                        <p>Today we are pleased to announce the introduction of the Store Adapter interface for rapid connectivity to external databases.</p>
                        <a href="/blog/introducing-store-adapters-for-external-database-connectivity" class="text-link">Read the rest<i class="icon ti ti-arrow-right arrow_right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="action-strip-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span class="alt-font">Get Started For Free</span>
                    <!--span.title Create and test a new service.-->
                    <i class="icon pe-7s-look"></i>
                    <a href="https://app.eventn.com/signup" target="_blank" class="text-link">Get Started<i class="icon ti ti-arrow-right arrow_right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>