.regInput {

}

.regPannel {
    text-align:center;
}
.regSpan{
    display:block;    
    float:left;
}
.regPannel li {
    line-height:45px;
    height:45px;
    padding:2px 2px 2px 2px;
    margin-bottom:10px;
}
.regLeft {
    padding-left:300px;
}

