        .progress-indicator {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 1000;
            margin: 0;
            padding: 0;
            border: 0;
            vertical-align: baseline;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 1.6;
            text-align: left;
            box-sizing: border-box;
        }

            .progress-indicator .load-content {
                margin-top: 65px;
                padding: 0;
                border: 0;
                vertical-align: baseline;
            }

            .progress-indicator .load-content {
                margin: 20% auto 0;
            }

        .load-content {
            height: 45px;
            line-height: 45px;
        }

        .align-center {
            text-align: center;
        }

        .load-container {
            position: relative;
            overflow: hidden;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: 0;
            vertical-align: baseline;
        }

        .loader, .loader:after {
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }

        .loader {
            margin: auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 2px solid #14c779;
            border-right: 2px solid #14c779;
            border-bottom: 2px solid #14c779;
            border-left: 2px solid rgba(0, 0, 0, 0.1);
            transform: translateZ(0);
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 0.8s infinite linear;
            animation: load8 0.8s infinite linear;
        }
        @-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}