.hide {
    display: none
}

.tableCard {
    width: 100%;
    position: relative;
    height: 110px;
}
.HeroPanel {
    width: 100%;
    position: relative;
    height: 150px;
}
.HeroFrame {
    width: 220px;
    margin: 0 auto;
    height: 150px;
}
.Hero {
    float: left;
    width: 120px;
    height: 150px;
    background-image: url('/images/game/texture/hero/Druid.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}
.HeroPower {
    float: left;
    width: 100px;
    height: 150px;
    background: url('/images/game/texture/hero/heropower/Hero_Power_D_Gold.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.HunterPower {
    background: url('/images/game/texture/hero/heropower/Hunter.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.WarlockPower {
    background: url('/images/game/texture/hero/heropower/Warlock.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.WarriorPower {
    background: url('/images/game/texture/hero/heropower/Warrior.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.MagePower {
    background: url('/images/game/texture/hero/heropower/Mage.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.DruidPower {
    background: url('/images/game/texture/hero/heropower/Druid.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.ShamanPower {
    background: url('/images/game/texture/hero/heropower/Shaman.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.RoguePower {
    background: url('/images/game/texture/hero/heropower/Rogue.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.PaladinPower {
    background: url('/images/game/texture/hero/heropower/Paladin.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}
.PriestPower {
    background: url('/images/game/texture/hero/heropower/Priest.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: 100% 70%;
    -moz-background-size: 100% 70%;
}

.HeroPowerCost {

}
.HandCardPanel {
    width: 100%;
    position: relative;
    height: 60px;
}
.tableCard ul {
    position: absolute;
    left: 50%;
    top: 50%;
    list-style-type: none;
    transform: translate(-50%,-50%);
    width: 100%;
}

    .tableCard li {
        /*display: inline;*/
        position: relative;
        display: block;
        float: left;
        margin-left: 80px;
        width: 60px;
        height: 95px;
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    .tableCard img {
        width: 60px;
        height: 95px;
        object-fit: cover;
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

.newline {
    position: fixed;
    bottom: 45%;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    right: 2em;
}

    .newline a {
        margin-right: 20px;
    }

.servantDamege {
    font-size: 16px;
    position: absolute;
    left: -10px;
    bottom: 0;
    color: white;
    font-weight: 900;
    background-image: url('/images/game/texture/attacktexture.png');
    width: 20px;
    height: 26px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    line-height: 30px;
}
.servantLife {
    font-size: 16px;
    position: absolute;
    right: -10px;
    bottom: 0;
    color: white;
    font-weight: 900;
    background-image: url('/images/game/texture/healthtexture.png');
    width: 20px;
    height: 26px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    line-height: 30px;
}
.cardDetail {
    position: absolute;
    z-index: 9999999999999;
    width: 190px;
    height: 250px;
    background-image: url('/images/game/texture/cardFrame/mdly.png');
    background-repeat: no-repeat;
    background-position: 0px -105px;
    background-size: 190px 250px;
}
@-webkit-keyframes ActiveCard {
    from {
        -webkit-box-shadow: 0 0 10px 2px #32cd32;
        -moz-box-shadow: 0 0 10px 2px #32cd32;
    }

    50% {
        -webkit-box-shadow: 0 0 20px 5px #33ff00;
        -moz-box-shadow: 0 0 20px 5px #33ff00;
    }

    to {
        -webkit-box-shadow: 0 0 10px 2px #32cd32;
        -moz-box-shadow: 0 0 10px 2px #32cd32;
    }
}

@-webkit-keyframes HolyShield {
    from {
        -webkit-box-shadow: 0 0 10px 2px #ffcc00;
        -moz-box-shadow: 0 0 10px 2px #ffcc00;
    }

    50% {
        -webkit-box-shadow: 0 0 20px 5px #ffff00;
        -moz-box-shadow: 0 0 20px 5px #ffff00;
    }

    to {
        -webkit-box-shadow: 0 0 10px 2px #ffcc00;
        -moz-box-shadow: 0 0 10px 2px #ffcc00;
    }
}

.HolyShield {
    -webkit-animation-name: HolyShield;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.ActiveCard {
    -webkit-animation-name: ActiveCard;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.arrow {
    width: 50px;
    height: 50px;
    background-image: url(/images/game/icon/arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    position: absolute;
    z-index: 9999999999999;
    cursor: none
}

.CurrentPowerPanel {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    /*width: 25em;*/
    height: 2.25em;
    border: none;
    right: 10em;
}

    .CurrentPowerPanel li {
        list-style: none;
        float: left;
        display: block;
        width: 2.5em;
        height: 2.25em;
    }

.MyPowerPanel {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    right: 10em;
}

.EnemyPowerPanel {
    position: fixed;
    top: 0;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    right: 10em;
}

.EmptyPower {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -105px -70px;
    background-size: 10em 10em;
}

.Power {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: 0px -105px;
    background-size: 10em 10em;
}

.Power0 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 10em 10em;
}

.Power1 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -35px 0px;
    background-size: 10em 10em;
}

.Power2 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -70px 0px;
    background-size: 10em 10em;
}

.Power3 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -105px 0px;
    background-size: 10em 10em;
}

.Power4 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: 0px -35px;
    background-size: 10em 10em;
}

.Power5 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -35px -35px;
    background-size: 10em 10em;
}

.Power6 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -70px -35px;
    background-size: 10em 10em;
}

.Power7 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -105px -35px;
    background-size: 10em 10em;
}

.Power8 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: 0px -70px;
    background-size: 10em 10em;
}

.Power9 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -35px -70px;
    background-size: 10em 10em;
}

.Power10 {
    background-image: url('/images/game/TextInlineImages.png');
    background-repeat: no-repeat;
    background-position: -70px -70px;
    background-size: 10em 10em;
}
.attacktexture {
    background-image: url('/images/game/texture/attacktexture.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}
.healthtexture {
    background-image: url('/images/game/texture/healthtexture.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}
.heroAttrFrame {
    width: 100%;
    height: 100%;
}
    .heroAttrFrame td {
        font-size: 25px;
        width: 50px;
        height: 65px;
        font-weight: 900;
        color: white;
    }

