@using MyHearthStoneV2.Common.Enum
@using MyHearthStoneV2.BLL
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_LoginOrRegisterLayout.cshtml";
    string cssAndJSVersion = "?v=" + SystemConfigBll.Instance.GetValueByCache(RedisKeyEnum.CSSAndJSVersion.ToString());
}
@section css{
<link href="/static/css/default/login.css@(cssAndJSVersion)" rel="stylesheet" />
}
@section js{
<script src="/static/js/gt.js"></script>
}
<div id="wrapper">
    <div class="aw-login-box">
        <div class="mod-body clearfix">
            <div class="content pull-left">
                <h1 class="logo"><a href=""></a></h1>
                <h2>炉石旅馆</h2>
                <form id="login_form" method="post" onsubmit="return false" >
                    <input type="hidden" name="return_url" value="" />
                    <ul>
                        <li>
                            <input type="text" id="aw-login-user-name" class="form-control" placeholder="手机号 / 用户名" name="user_name" />
                        </li>
                        <li>
                            <input type="password" id="aw-login-user-password" class="form-control" placeholder="密码" name="password" />
                        </li>
                        <li>
                            <div id="embed-captcha"></div>
                            <p id="wait" class="show">正在加载验证码......</p>
                            <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                        </li>
                        <li class="alert alert-danger hide error_message">
                            <i class="icon icon-delete"></i> <em></em>
                        </li>
                        <li class="last">
                            <a href="javascript:;" onclick="DoLogin();" id="login_submit" class="pull-right btn btn-large btn-primary">登录</a>
                            @*<label>
                                <input type="checkbox" value="1" name="net_auto_login" />
                                记住我
                            </label>
                            <a href="/account/find_password/">&nbsp;&nbsp;忘记密码</a>*@
                        </li>
                    </ul>
                </form>
            </div>
            <div class="side-bar pull-left">
                @*<h3>第三方账号登录</h3>
                <a href="/account/openid/sina/" class="btn btn-block btn-weibo"><i class="icon icon-weibo"></i> 新浪微博登录</a>
                <a href="/account/openid/qq_login/" class="btn btn-block btn-qq"> <i class="icon icon-qq"></i> QQ登录</a>*@
            </div>
        </div>
        <div class="mod-footer">
            <span>还没有账号?</span>&nbsp;&nbsp;
            <a href="/UserCentre/register/">立即注册</a>&nbsp;&nbsp;•&nbsp;&nbsp;
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/login.js@(cssAndJSVersion)"></script>

