@using MyHearthStoneV2.Common.Util
@using MyHearthStoneV2.Model
@using MyHearthStoneV2.CardLibrary.Base
@using MyHearthStoneV2.BLL
@using MyHearthStoneV2.CardLibrary.Hero
@using System.Configuration
@{
    ViewBag.Title = "选择你的卡组";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Card> lstCards = CardUtil.GetCardInRedis();
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
}
@section css{
    <link href="/css/css3_3d.css" rel="stylesheet" />
    <link href="/css/jq22.css" rel="stylesheet" />
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/slide/component.css" rel="stylesheet" />
    <link href="/css/notie/default.css" rel="stylesheet" />
}
@section js{
    <script src="/js/slide/classie.js"></script>
    <script src="/js/md5-min.js"></script>    

@(Html.Raw(SignUtil.ImportSignJsFile("/js/chosencardgroup.source.js", ViewBag.cssAndJSVersion)))
}
@(Html.Raw(ViewBag.ConfusionStringToHTML))
<div id="container" class="content-wrap">
    <ul id="grid" class="group">

    </ul>

    <ul id="information">
        <li id="info1">
            <div>
                <h3>Lanterns</h3>
                <p>These lanterns were spotted in Melaka (Malay: Melaka, dubbed The Historic State or Negeri Bersejarah among locals) which is the third smallest Malaysian state, after Perlis and Penang. It is located in the southern region of the Malay Peninsula, on the Straits of Malacca. It borders Negeri Sembilan to the north and the state of Johor to the south. The capital is Malacca City, which is 148 km south east of Malaysia's capital city Kuala Lumpur, 235 km south east to Johor's largest city Johor Bahru and 95 km south east to Johor's second largest city Batu Pahat. This historical city centre has been listed as a UNESCO World Heritage Site since 7 July 2008.</p>
                <p>
                    <a href="#/p/CYJ_Z/">View the full image on Instagram</a>
                </p>
                <a href="#" class="close">x</a>
            </div>
            <span class="backface"></span>
        </li>

    </ul>
</div>

@Html.Partial("/Views/Addons/SignalRChatFrame.cshtml", null)
@section endjs{
    <script src="/js/notie/notie.js"></script>
}