@using MyHearthStoneV2.Common.Enum
@using MyHearthStoneV2.BLL
@using MyHearthStoneV2.Redis
@{
    Layout = "/Views/Shared/_LoginOrRegisterLayout.cshtml";
    ViewBag.Title = "用户注册";
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
}
@section css{
    <link href="/static/css/default/register.css@(ViewBag.cssAndJSVersion)" rel="stylesheet" type="text/css" />
}
@section js{
    <script src="/js/Register.js@(ViewBag.cssAndJSVersion)"></script>
    <script src="/static/js/jquery.form.js@(ViewBag.cssAndJSVersion)" type="text/javascript"></script>
    <script src="/static/js/plug_module/plug-in_module.js@(ViewBag.cssAndJSVersion)" type="text/javascript"></script>
    <script src="/static/js/aws.js@(ViewBag.cssAndJSVersion)" type="text/javascript"></script>
    <script src="/static/js/compatibility.js@(ViewBag.cssAndJSVersion)" type="text/javascript"></script>
    <script src="/static/js/gt.js@(ViewBag.cssAndJSVersion)"></script>
}
<div class="aw-register-box">
    <div class="mod-head">
        <a href=""><img src="http://wenda.ghostchina.com/static/css/default/img/login_logo.png" alt="" /></a>
        <h1>注册新用户</h1>
    </div>
    <div class="mod-body">
        <form class="aw-register-form" method="post" id="register_form" action="/UserCentre/DoRegister">

            <ul>
                <li class="alert alert-danger hide error_message text-left">
                    <i class="icon icon-delete"></i> <em></em>
                </li>
                <li>
                    <input class="aw-register-name form-control" type="text" id="UserName" name="UserName" placeholder="用户名" tips="请输入一个 2-14 位的用户名" errortips="用户名长度不符合" value="" />
                </li>
                <li style="display:none">
                    <input class="aw-register-email form-control" type="text" placeholder="邮箱" id="Email" name="Email" tips="请输入你常用的电子邮箱作为你的账号" value="" errortips="邮箱格式不正确" />
                </li>
                <li>
                    <input class="aw-register-pwd form-control" type="password" id="Password" name="Password" placeholder="密码" tips="请输入 6-16 个字符,区分大小写" errortips="密码不符合规则" />
                </li>
                <li>
                    <input class="aw-register-name form-control" type="text" id="NickName" name="NickName" placeholder="昵称" tips="请输入一个 1-10 位的昵称" errortips="昵称长度不符合" value="" />
                </li>
                <li style="display:none">
                    <input class="aw-register-name form-control" type="text" id="Mobile" name="Mobile" placeholder="手机号" tips="请输入一个 11 位的手机号" errortips="手机号格式错误" value="" />
                </li>
                <li style="display:none">
                    <input class="aw-register-name form-control" type="text" id="InvitationCode" name="InvitationCode" placeholder="邀请码" tips="请输入邀请码" errortips="邀请码格式错误" value="" />
                </li>
                <li>
                    <div id="embed-captcha"></div>
                    <p id="wait" class="show">正在加载验证码......</p>
                    <p id="notice" class="hide">请先拖动验证码到相应位置</p>
                </li>
                
                <li class="clearfix">
                    <button id="btnReg" class="btn btn-large btn-blue btn-block" onclick="return postRegister(); ">注册</button>
                </li>
            </ul>
        </form>
    </div>
</div>
