.container{ width: 100%; height: 400px; margin-top: 100px; }
.container .switchpanel {margin: 0 auto;  height: 400px;width:80%;text-align:center}/*width: 1000px;*/
.container .switchpanel .main_img{height:400px; width: 196px; background-color: #ff0; margin-right: 5px; position: relative; overflow: hidden; display: inline-block;}
.main_info {width:196px;}
.main_img .main_info{position: absolute; z-index: 1; top: 285px; background-color: rgba(18,21,44,0.7); padding: 10px; border-top:solid 2px #CB5412; height: 400px;}
.main_img .main_info p{color: #fff; line-height: 24px;font-size: 14px;}
.main_img .main_info .info{ height: 105px; }
.main_img .main_info .info h2{ color: #FFFFFF; line-height: 42px; font-size: 18px;}
.main_img .main_info .info_more{padding-top: 10px; border-top: solid 1px #CB5412; height: 240px; overflow: hidden;}
.main_img .main_info .info_more p{text-indent: 2em; overflow:ellipsis; display: none;}
.container .switchpanel .mar_no{margin-right: 0;}
.container .switchpanel .main_img img{width: 100%; height: 100%;}
.switchdone {text-align:center}