
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>aa</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $.post("/API/Default/Index", { contentType: "application/json" }, $("#form1").serialize(), function (r) {
            //var res = eval("(" + r + ")");
            console.debug(r);
            if (r.code == 100) {
                alert(r.msg);
            }
            else {
                
            }
        });
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
