@using MyHearthStoneV2.Common.Enum
@using MyHearthStoneV2.BLL
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.cssAndJSVersion = TempData["cssAndJSVersion"];
}
@section css{
}
@section js{
}
<div class="main-container">
    <section class="hero-slider large-image">
        <ul class="slides">
            <li>
                <div class="background-image-holder overlay fadeIn" style="background: url(/img/background-data-microservice.jpg) 50% 50%;">
                    <img alt="Analytics Microservice" src="/img/background-data-microservice.jpg" class="background-image" />
                </div>
                <div class="container vertical-align">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white"> 一段大气膀勃的开场白 <p class="text-white super-lead">不知道说什么好但是不说又很尴尬干脆即兴念了首诗</p> <a href="javascript:;" class="btn btn-white">这特么是个啥？</a> <a href="/game/saloon" target="_blank" class="btn btn-filled">总之点这里开始游戏</a> </h1>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
@section endjs{

}